﻿/*
Theme Name: Innocent
Theme URI: http://blog.hatena.ne.jp/-/store/theme/6653586347149180725
Description: Blank をベースに更なる改良を加えたシンプルでカスタマイズ性の高いレスポンシブデザイン対応のテーマです。スマートフォン、タブレット閲覧時のデザインは以下の記事でご覧ください。http://moonnote.hateblo.jp/entry/innocent-hatenablog-theme↑<span style="color: darkgray;">言及して頂く際は、テーマストアのURLではなく上記の記事のURLを貼るようお願い致します。</span>2017/04/1x<span style="color: red";>Thanks for 15000 downloads!</span>2016/10/2x<span style="color: red";>Thanks for 10000 downloads!</span>*カスタマイズ**ナビゲーションバー編http://moonnote.hateblo.jp/entry/customize-innocent-navigation-bar- ナビゲーションバーを表示する- ナビゲーションバーの色を変更する- ナビゲーションバーを中央寄せにする**おすすめ記事リスト編http://moonnote.hateblo.jp/entry/customize-innocent-recommend-entries**続きを読むボタン編http://moonnote.hateblo.jp/entry/customize-innocent-read-more- デザインサンプル10種**パンくずリストの設置についてhttp://moonnote.hateblo.jp/entry/2016/01/09/224600*更新履歴2017/01/05・ナビゲーションバーのサブメニューがmouseout時にフェードアウトするように修正2016/11/17・Google Chrome で記事編集ボタンが反応しない問題を修正（Thanks to id:hogehoge223）2016/01/10・引用のデザインを変更2015/12/25 ・見出しのサイズと余白を調整*フィードバック不具合、フィードバック等があれば製作者のブログまでお気軽にご連絡ください。http://moonnote.hateblo.jp
Author: waitingmoon
Author URI: http://blog.hatena.ne.jp/waitingmoon/
*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

/*

	Theme: Innocent
	Author: waitingmoon
	Desciprtion: カスタマイズのためのテーマ
	Responsive: yes

*/

/**

	Table of Contents:

	* Normalize
	* Global
	* Repeatable Patterns
	* Layout
	* Header
	* Navigation
	* Recommend Entries
	* Breadcrumb
	* Entry
		* Entry Header
		* Entry Content
		* Entry Footer
		* Archive
	* Comment
	* Pager
	* Sidebar
		* Profile
		* Recent Post, Popular Post
		* Recent Comment
		* Archive
			* List Style
			* Calendar Style
		* Category
		* Search
		* Group
	* Footer
	* Modify
		* Colorbox
		* Advertisement

**/

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/* Global
   ========================================================================== */

::-moz-selection {
	background-color: #ccc;
	color: #fff;
}

::selection {
	background-color: #ccc;
	color: #fff;
}

html {
	font-size: 85%;
}

body {
	color: #333;
	font-size: 15px;
	font-family: Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	line-height: 1.7;
	word-wrap: break-word;
}

@media screen and (min-width: 768px) {
	
	html {
		font-size: 100%;
	}
	
	body {
		font-size: 16px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.entry-content a,
.comment-content a {
	color: #3872b8;
	text-decoration: underline;
}

.entry-content a.keyword,
.comment-content a.keyword {
	border-bottom: 1px dotted;
	text-decoration: none;
}

a:hover {
	color: #5687c3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #222;
	letter-spacing: -0.01em;
	line-height: 1.4;
}

h1 {
	font-size: 1.625rem;
	margin-top: 2em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.5rem;
	margin-top: 2em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.375rem;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.25rem;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h5 {
	font-size: 1.125rem;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h6 {
	font-size: 1rem;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

p {
	margin: 0 0 1.5em;
}

/* List */

ul,
ol {
	margin: 0 0 1.5em 2em;
	padding: 0;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dl {
	margin: 0;
}

dt {
	font-weight: 700;
	margin-bottom: 0.75em;
}

dd {
	margin: 0 0 1.5em 1.5em;
}

.table-of-contents,
.entry-content .table-of-contents {
	border: 1px solid #e6e6e6;
	margin: 0 0 1.6em;
	padding: 1.6em 1.6em 1.6em 3.2em;
}

/* Table */

table {
	border-top: 1px solid #e6e6e6;
	font-size: 0.9375em;
	margin: 0 0 1.7em;
	width: 100%;
}

th {
	font-weight: 700;
	text-align: left;
}

th,
td {
	border-bottom: 1px solid #e6e6e6;
	padding: 0.8em;
}

/* Elements */

pre,
.entry-content pre {
	border: 1px solid #e6e6e6;
	font-family: Consolas, "Courier New", Courier, Monaco, monospace;
	font-size: 0.9375em;
	line-height: 1.4;
	margin: 0 0 1.7em;
	padding: 1.6em;
	word-wrap: normal;
}

code,
.entry-content code {
	background-color: #fee5ee;
	border: 0;
	border-radius: 0;
	color: #f92672;
	font-family: Consolas, "Courier New", Courier, Monaco, monospace;
	font-size: 0.9375em;
	margin: 0;
	padding: 0;
}

pre > code,
.entry-content pre > code {
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

blockquote,
.entry-content blockquote {
	border: 1px solid #e6e6e6;
	color: #666;
	font-size: 0.9375em;
	margin: 1.85em 0 1.7em;
	padding: 32px 24px 0.1em;
	position: relative;
}

blockquote::before,
.entry-content blockquote::before {
	background-color: #fff;
	content: "\f10d";
	display: inline-block;
	font: normal 28px/1 FontAwesome;
	vertical-align: middle;
	position: absolute;
	top: -10px;
	left: 24px;
}

blockquote cite,
.entry-content blockquote cite {
	display: block;
	margin-bottom: 1.5em;
	text-align: right;
}

blockquote > *:first-child,
.entry-content blockquote > *:first-child {
	margin-top: 0;
}

hr {
	background-color: #e6e6e6;
	border: 0;
	height: 1px;
	margin: 0 0 28px;
}

/* Media */

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

embed,
iframe,
object {
	max-width: 100%;
}

/* ASIN, iTunes */

.hatena-asin-detail,
.itunes-embed {
	border: 1px solid #e6e6e6;
	font-size: 0.9375em;
	line-height: 1.5;
	margin: 0 0 1.7em;
	padding: 1.6em;
	position: relative;
}

.hatena-asin-detail::before,
.itunes-embed::before {
	color: #e6e6e6;
	display: inline-block;
	font: normal normal normal 32px/1 FontAwesome;
	vertical-align: middle;
	position: absolute;
	bottom: 0;
	right: 0;
}

.hatena-asin-detail::before {
	content: "\f270";
}

.itunes-embed::before {
	content: "\f179";
}

.hatena-asin-detail .hatena-asin-detail-image,
.itunes-embed .itunes-embed-image {
	float: left;
	margin-right: 1.6em;
	max-width: 60px;
}

@media screen and (min-width: 768px) {
	
	.hatena-asin-detail .hatena-asin-detail-image,
	.itunes-embed .itunes-embed-image {
		max-width: 100px;
	}
	
}

.hatena-asin-detail .hatena-asin-detail-info,
.itunes-embed .itunes-embed-info {
	overflow: hidden;
}

.hatena-asin-detail .hatena-asin-detail-title,
.itunes-embed .itunes-embed-title {
	margin-bottom: 0.8em;
}

.hatena-asin-detail .hatena-asin-detail-info ul li:last-child,
.itunes-embed .itunes-embed-info ul li:last-child {
	margin-top: 0.4em;
}

/* Repeatable Patterns
   ========================================================================== */

.hatena-image-right {
	margin: 0 0 1.5em 1.5em;
}

.hatena-image-left {
	margin: 0 1.5em 1.5em 0;
}

/* Clearing */

#content-inner::before,
#content-inner::after,
#main-inner::before,
#main-inner::after,
.categories::before,
.categories::after,
.entry-content::before,
.entry-content::after,
.comment-box::before,
.comment-box::after,
.pager::before,
.pager::after,
#box2-inner::before,
#box2-inner::after,
.hatena-urllist::before,
.hatena-urllist::after {
	content: "";
	display: table;
}

#content-inner::after,
#main-inner::after,
.categories::after,
.entry-content::after,
.comment-box::after,
.pager::after,
#box2-inner::after,
.hatena-urllist::after {
	clear: both;
}

/* レイアウト全般
   ========================================================================== */

#blog-title-inner,
#content-inner,
#footer-inner,
.breadcrumb-inner {
	margin: 0 auto;
	max-width: 656px;
	padding: 0 20px;
}

#blog-title {
	padding-top: 36px;
	padding-bottom: 32px;
}

#top-box,
#content {
	background-color: #fff;
	border-top: 1px solid #e6e6e6;
	padding-top: 24px;
}

#top-box + #content {
	border-top: 0;
}

.entry,
.page-archive .archive-entry {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 36px;
	padding-bottom: 36px;
}

.entry-content {
	margin-top: 28px;
}

.entry-footer {
	margin-top: 36px;
}

.pager {
	margin-bottom: 36px;
}

#wrapper {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 36px;
}

.hatena-module {
	margin-bottom: 48px;
}

#footer {
	padding-bottom: 28px;
	padding-top: 28px;
}

@media screen and (min-width: 540px) {
	
	#blog-title-inner,
	#content-inner,
	#footer-inner,
	.breadcrumb-inner {
		padding-left: 36px;
		padding-right: 36px;
	}
	
	#top-box,
	#content {
		padding-top: 36px;
	}
	
}

@media screen and (min-width: 768px) {
	
	#blog-title-inner,
	#content-inner,
	#footer-inner,
	.breadcrumb-inner {
		padding-left: 54px;
		padding-right: 54px;
	}

	#blog-title {
		padding-top: 48px;
		padding-bottom: 40px;
	}
	
	#top-box,
	#content {
		padding-top: 48px;
	}

	.entry,
	.page-archive .archive-entry {
		margin-bottom: 48px;
		padding-bottom: 48px;
	}
	
	.pager {
		margin-bottom: 48px;
	}

	#wrapper {
		margin-bottom: 48px;
	}

	#footer {
		padding-top: 36px;
		padding-bottom: 36px;
	}
	
}

@media screen and (min-width: 1024px) {
	
	#blog-title-inner,
	#content-inner,
	#footer-inner,
	.breadcrumb-inner,
	.main-navigation-inner {
		max-width: 1065px;
	}
	
	.main-navigation-inner {
		padding-left: 54px;
		padding-right: 54px;
	}
	
	#content {
		padding-bottom: 48px;
	}
	
	#wrapper {
		border-bottom: 0;
		box-sizing: border-box;
		float: left;
		margin-right: -354px;
		margin-bottom: 0;
		padding-right: 354px;
		width: 100%;
	}

	#main-inner {
		border-right: 1px solid #e6e6e6;
		padding-right: 54px;
	}
	
	#box2 {
		float: right;
		width: 354px;
	}
	
	#box2-inner {
		border-left: 1px solid #e6e6e6;
		margin-left: -1px;
		padding-left: 54px;
	}

	.pager {
		border-bottom: 0;
		padding-bottom: 0;
	}
	
}

@media screen and (min-width: 1280px) {
	
	#blog-title-inner,
	#content-inner,
	#footer-inner,
	.breadcrumb-inner,
	.main-navigation-inner {
		max-width: 1101px;
	}
	
	#wrapper {
		margin-right: -390px;
		padding-right: 390px;
	}
	
	#box2 {
		width: 390px;
	}
	
}

/* Breadcrumb margin fix */

.page-entry .breadcrumb { margin-bottom: 0; }
#top-box { padding-bottom: 24px; }
@media screen and (min-width: 768px) { #top-box { padding-bottom: 48px; } }

/* グローバルヘッダー
   ========================================================================== */

#globalheader-container {
	background-color: #222;
	color: #eee;
}

#blog-title {
	text-align: center;
}

@media screen and (min-width: 1024px) {
	
	#blog-title {
		text-align: left;
	}
	
}

#title {
	display: inline-block;
	line-height: 1.2;
	margin: 0;
}

#title a,
#title a:hover {
	color: #222;
}

#title a:hover {
	opacity: 0.7;
}

#blog-description {
	color: #999;
	font-size: 0.9375em;
	font-weight: normal;
	letter-spacing: normal;
	margin: 0;
}

/* Header-Image */

.header-image-enable #blog-title #title a {
	color: #fff;
	-webkit-text-shadow: 0 1px 2px #000;
			text-shadow: 0 1px 2px #000;
}

.header-image-enable #blog-title #blog-description {
	color: rgba(255,255,255,0.9);
	font-weight: normal;
	-webkit-text-shadow: 0 1px 2px #000;
			text-shadow: 0 1px 2px #000;
}

/* ナビゲーションバー
   ========================================================================== */

.main-navigation {
	font-size: 0.9375em;
}

.main-navigation,
.main-navigation ul ul {
	background-color: #222;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
}

.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	cursor: pointer;
}

.menu-toggle::before {
	content: "\f0c9";
	display: inline-block;
	font: normal 16px/1 FontAwesome;
	margin-right: 12px;
	vertical-align: middle;
}

.menu-toggle,
.main-navigation a {
	color: rgba(255,255,255,0.8);
	display: block;
	line-height: 54px;
	padding: 0 20px;
	text-decoration: none;
}

.menu-toggle:hover,
.main-navigation a:hover {
	color: rgba(255,255,255,0.9);
}

.main-navigation a {
	border-top: 1px solid rgba(255,255,255,0.2);
}

.main-navigation ul ul a {
	padding-left: 30px;
}

.main-navigation ul ul ul a {
	padding-left: 45px;
}

.main-navigation ul ul ul ul a {
	padding-left: 60px;
}

@media screen and (min-width: 1024px) {
	
	.menu-toggle {
		display: none;
	}
	
	.main-navigation-inner {
		margin: 0 auto;
	}
	
	.main-navigation-inner ul {
		position: relative;
		left: -18px;
	}
	
	.main-navigation ul {
		display: block;
		letter-spacing: -0.4em;
	}
	
	.main-navigation ul li {
		display: inline-block;
		letter-spacing: normal;
		position: relative;
	}

	.main-navigation ul ul {
		box-shadow: 0 0 2px rgba(0,0,0,0.5);
		letter-spacing: normal;
		opacity: 0;
		text-align: left;
		-webkit-transition: all .3s ease;
				transition: all .3s ease;
		width: 216px;
		position: absolute;
		top: 100%;
		/* left: -9999px; */
        left: 0;
        visibility: hidden;
		z-index: 9999;
	}
	
	.main-navigation ul ul li,
	.main-navigation ul ul ul li,
	.main-navigation ul ul ul ul li {
		display: block;
	}
	
	.main-navigation ul li:hover > ul {
		opacity: 1;
		left: 0;
        visibility: visible;
	}
	
	.main-navigation ul ul ul {
		top: 0;
        left: 100%;
	}
	
	.main-navigation ul ul li:hover > ul {
		opacity: 1;
		left: 100%;
        visibility: visible;
	}
	
	.main-navigation a {
		border-top: 0;
		padding: 0 18px;
	}

	.main-navigation ul ul a {
		border-top: 1px solid rgba(255,255,255,0.2);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.main-navigation ul ul a,
	.main-navigation ul ul ul a,
	.main-navigation ul ul ul ul a {
		padding: 0 18px;
	}
	
	.main-navigation a.has-child::after {
		content: "\f107";
		display: inline-block;
		font: normal 16px/1 FontAwesome;
		margin-left: 8px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}
	
	.main-navigation ul ul a.has-child::after {
		content: "\f105";
		display: inline-block;
		font: normal 16px/1 FontAwesome;
		position: absolute;
		top: 19px;
		right: 17px;
	}
	
}

/* おすすめの投稿
   ========================================================================== */

#recommend-entries {
	background-color: #fff;
	padding: 48px 0;
}

#recommend-entries-inner {
	margin: 0 auto;
	max-width: 1101px;
	padding: 0 54px;
}

#recommend-entries .hatena-module-entries-access-ranking {
	margin-bottom: 0;
}

#recommend-entries .urllist-with-thumbnails {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	margin: 0;
}

#recommend-entries .urllist-item {
	border-top: 0;
	/* float: left; */
	padding: 0;
	width: 20%;
	position: relative;
}

@media screen and (max-width: 1279px) {
	#recommend-entries-inner {
		max-width: 1065px;
	}
	#recommend-entries .urllist-item {
		width: 25%;
	}
	#recommend-entries .urllist-item:nth-child(5) {
		display: none;
	}
}

@media screen and (max-width: 1023px) {
	#recommend-entries-inner {
		max-width: 656px;
	}
	#recommend-entries .urllist-item {
		width: 33.3333%;
	}
	#recommend-entries .urllist-item:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	#recommend-entries-inner {
		padding: 0 36px;
	}
}

@media screen and (max-width: 599px) {
	#recommend-entries .urllist-item {
		width: 50%;
	}
	#recommend-entries .urllist-item:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 539px) {
	#recommend-entries {
		display: none;
	}
}

#recommend-entries .urllist-image-link {
	display: block;
	margin: 0;
	overflow: hidden;
}

#recommend-entries .urllist-image {
	box-sizing: border-box;
	float: none;
	margin: 0;
	opacity: 0.8;
	width: 100%;
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}

#recommend-entries .urllist-item:hover .urllist-image {
	opacity: 1;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#recommend-entries .urllist-title-link {
	background-color: rgba(0, 0, 0, 0.5);
	background: transparent -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
	background: transparent linear-gradient(transparent, rgba(0, 0, 0, 0.5));
	box-sizing: border-box;
	color: #fff;
	font-size: 0.8667em;
	font-weight: 700;
	line-height: 1.2;
	padding: 16px 12px 11px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#recommend-entries .bookmark-widget-counter {
	display: inline-block;
	line-height: 1;
	position: absolute;
	top: 10px;
	right: 12px;
}

/* Breadcrumb
   ========================================================================== */

.breadcrumb {
	font-size: 0.9375em;
}

.breadcrumb-gt {
	margin: 0 4px;
}

/* エントリーヘッダー
   ========================================================================== */

.entry-header {
	position: relative;
}

.entry-title {
	line-height: 1.2;
	margin: 0;
}

.date {
	color: #999;
	font-size: 0.875em;
	margin-bottom: 7px;
}

.categories {
	font-size: 0.875em;
	margin-top: 12px;
}

.categories a {
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	float: left;
	display: block;
	line-height: 32px;
	margin: 0 6px 6px 0;
	padding: 0 12px;
}

.categories a:hover {
	background-color: #f6f6f6;
	color: #333;
}

.entry-header-menu {
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	height: 48px;
	line-height: 1;
	text-align: center;
	width: 48px;
	position: absolute;
	top: 0;
	right: -78px;
}

.entry-header-menu a::before {
	content: "\f044";
	display: block;
	font: normal 16px/48px FontAwesome;
	margin-left: 4px;
	margin-top: 2px;
	vertical-align: middle;
}

.entry-header-menu a {
    display: block;
	font-size: 0;
}

@media screen and (max-width: 1023px) {
	
	.entry-header-menu {
		display: none !important;
	}
	
}

.entry-header .social-buttons {
	font-size: 0;
	line-height: 1;
	margin: 12px 0 -8px;
}

.entry-header .social-button-item {
	display: inline-block;
	margin: 0 8px 8px 0;
}

.customized-header {
	margin-top: 18px;
}

/* エントリーコメント
   ========================================================================== */

.entry-content > *:first-child {
	margin-top: 0;
}

.entry-content > *:last-child {
	margin-bottom: 0;
}

.entry-content .entry-see-more {
	background-color: #222;
	border-radius: 2px;
	box-sizing: border-box;
	color: rgba(255,255,255,0.9);
	display: inline-block;
	font-size: 0.875em;
	line-height: 44px;
	min-width: 176px;
	text-align: center;
	text-decoration: none;
}

.entry-content .entry-see-more:hover {
	background-color: #555;
	color: rgba(255,255,255,0.9);
}

.entry-content .footnote {
	font-size: 0.875em;
	line-height: 1.5;
}

.entry-content .footnote p.footnote {
	font-size: 1em;
	margin: 0 0 0.5em;
}

.entry-content .footnote p.footnote:last-child {
	margin-bottom: 0;
}

/* エントリーフッター
   ========================================================================== */

.entry-footer-section {
	color: #999;
	display: block;
	font-size: 0.875em;
	margin-bottom: 24px;
}

.entry-footer .social-buttons {
	font-size: 0;
	line-height: 1;
	margin-bottom: 24px;
}

.entry-footer .social-button-item {
	display: inline-block;
	margin: 0 8px 8px 0;
}

.page-index .customized-footer,
.page-category-category_name .customized-footer {
	display: none;
}

.customized-footer {
	margin-bottom: 32px;
}

/* アーカイブ
   ========================================================================== */

.page-archive .archive-entry-body {
	margin-top: 28px;
}

.page-archive .entry-thumb {
	margin: 28px 26px 26px 0;
}

@media screen and (min-width: 768px) {
	
	.page-archive .entry-thumb {
		margin-right: 32px;
		margin-bottom: 32px;
	}
	
}

.page-archive .social-buttons {
	clear: both;
	display: block;
}

/* コメント
   ========================================================================== */

.comment-box {
	font-size: 0.9375em;
	text-align: right;
}

.comment-box .comment {
	list-style: none;
	margin: 0;
	padding: 0;
}

.entry-comment {
	border-top: 1px solid #e6e6e6;
	padding: 28px 0 28px 60px;
	position: relative;
	text-align: left;
}

.entry-comment:first-child {
	border-top: 0;
	margin-top: 16px;
	padding-top: 0;
}

.entry-comment .comment-user-name {
	color: #222;
	display: block;
	font-weight: 700;
	margin-bottom: 6px;
}

.entry-comment .comment-user-name img {
	border-radius: 2px;
	height: 40px !important;
	width: 40px !important;
	position: absolute;
	top: 28px;
	left: 0;
}

.entry-comment:first-child .comment-user-name img {
	top: 0;
}

@media screen and (min-width: 768px) {
	
	.entry-comment {
		padding-left: 72px;
	}
	
	.entry-comment .comment-user-name img {
		height: 48px !important;
		width: 48px !important;
	}
	
}

.comment-content {
	margin-bottom: 12px;
}

.comment-content > p:last-child {
	margin-bottom: 0;
}

.comment-metadata {
	color: #999;
	font-size: 0.9333em;
	margin-bottom: 0;
}

.leave-comment-title {
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	box-sizing: border-box;
	color: #333;
	display: inline-block;
	font-size: 0.875em;
	line-height: 44px;
	min-width: 176px;
	text-align: center;
}

.leave-comment-title:hover {
	background-color: #f6f6f6;
	color: #333;
}

/* ページャー
   ========================================================================== */

.pager {
	font-size: 0.9375em;
}

.pager a {
	text-decoration: underline;
}

.pager-prev::before,
.pager-next::before {
	color: #999;
	display: block;
	font-size: 0.875em;
	margin-bottom: 3px;
	text-transform: uppercase;
}

.pager-prev::before {
	content: "prev";
}

.pager-prev {
	float: left;
	text-align: left;
	width: 48%;
}

.pager-next::before {
	content: "next";
}

.pager-next {
	float: right;
	text-align: right;
	width: 48%;
}

.pager-arrow {
	display: none;
}

/* サイドバー全般
   ========================================================================== */

.hatena-module {
	font-size: 0.9375em;
	line-height: 1.5;
}

.hatena-module-title {
	color: #222;
	font-weight: 700;
	margin-bottom: 18px;
}

.hatena-urllist {
	list-style: none;
	margin: -12px 0;
	padding: 0;
}

.hatena-urllist li {
	border-top: 1px solid #e6e6e6;
	padding: 12px 0;
	position: relative;
}

.hatena-urllist li:first-child {
	border-top: 0;
}

/* プロフィールモジュール */

.id {
	display: block;
	font-weight: 700;
	margin-bottom: 8px;
}

.profile-icon {
	border-radius: 2px;
	float: left;
	height: 48px;
	margin: 0 20px 20px 0;
	width: 48px;
}

.profile-description > p:last-child {
	margin-bottom: 0;
}

.hatena-follow-button-box {
	margin-top: 24px;
}

.hatena-follow-button-box + .hatena-follow-button-box {
	margin-top: 8px;
}


/* 最近・人気の投稿モジュール */

.urllist-date-link {
	color: #999;
	font-size: 0.8667em; /* 15 * 0.8667 = 13 */
	overflow: hidden;
	padding-bottom: 3px;
}

.urllist-title-link {
	font-size: 1em;
}

.urllist-categories {
	font-size: 0.8667em;
	overflow: hidden;
	padding-top: 3px;
}

.urllist-category-link {
	font-size: 1em;
	margin-right: 6px;
}

.urllist-entry-body {
	color: #999;
	font-size: 0.8667em;
	line-height: inherit;
	overflow: hidden;
	padding-top: 3px;
}

.urllist-with-thumbnails {
	margin: -20px 0;
}

.urllist-with-thumbnails li::before {
	content: none;
}

.urllist-with-thumbnails li {
	border-top: 1px solid #e6e6e6;
	padding: 20px 0;
}

.urllist-with-thumbnails li:first-child {
	border-top: 0;
}

.urllist-with-thumbnails li .urllist-image {
	float: left;
	margin: 0 20px 0 0;
}

/* 最近のコメントモジュール */

.recent-comments .user-id img {
	border-radius: 2px;
	margin-right: 5px;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.recent-comments .recent-comment-time {
	color: #999;
	font-size: 0.8667em;
	font-style: normal;
	opacity: 1;
}

/* アーカイブモジュール（リスト） */

.hatena-urllist .archive-module-year {
	padding-left: 24px;
}

.hatena-urllist .archive-module-year .archive-module-months {
	margin-bottom: -2px;
	margin-top: 2px;
}

.hatena-urllist .archive-module-year .archive-module-month {
	margin-left: 0;
	padding: 2px 0 2px 24px;
}

.hatena-urllist .archive-module-year .archive-module-button {
	display: inline-block;
	font-size: 0;
	opacity: 1;
	position: absolute;
	top: 14px;
	left: 7px;
}

.hatena-urllist .archive-module-year .archive-module-show-button,
.hatena-urllist .archive-module-year .archive-module-hide-button {
	opacity: 1;
}

.hatena-urllist .archive-module-year .archive-module-show-button::before,
.hatena-urllist .archive-module-year .archive-module-hide-button::before {
	color: #999;
	font: normal 16px/1 FontAwesome;
	display: inline-block;
	-webkit-transition: .3s all ease;
			transition: all .3s ease;
	vertical-align: middle;
	position: relative;
}

.hatena-urllist .archive-module-year .archive-module-show-button:hover::before,
.hatena-urllist .archive-module-year .archive-module-hide-button:hover::before {
	color: #111;
}

.hatena-urllist .archive-module-year .archive-module-show-button::before {
	content: "\f105";
}

.hatena-urllist .archive-module-year .archive-module-hide-button::before {
	content: "\f107";
	left: -3px;
}

/* アーカイブモジュール（カレンダー）*/

.archive-module-calendar .archive-module-calendar-selector {
	margin-bottom: 24px;
}

.archive-module-calendar table {
	font-size: 1em;
	margin-bottom: 0;
}

.archive-module-calendar th,
.archive-module-calendar td {
	font-size: 0.9333em;
	line-height: 40px;
	padding: 0;
}

.archive-module-calendar th a,
.archive-module-calendar td a {
	text-decoration: underline;
}

/* カテゴリーモジュール */

.hatena-module-category .hatena-urllist {
	margin: 0 0 -6px;
	padding: 0;
}

.hatena-module-category .hatena-urllist li::before {
	content: none;
}

.hatena-module-category .hatena-urllist li {
	border-top: 0;
	display: block;
	float: left;
	margin: 0 6px 6px 0;
	padding: 0;
}

.hatena-module-category .hatena-urllist li a {
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	display: block;
	font-size: 0.8667em;
	line-height: 32px;
	padding: 0 12px;
}

.hatena-module-category .hatena-urllist li a:hover {
	background-color: #f6f6f6;
	color: #333;
}

/* 検索モジュール */

.search-form,
.search-result-form {
	background-color: transparent;
	border-radius: 0;
	border: 0;
	box-sizing: border-box;
	max-width: 336px;
	position: relative;
}

.search-form .search-module-input,
.search-result .search-result-input {
	border: 1px solid #e6e6e6;
	box-shadow: none;
	box-sizing: border-box;
	height: 44px;
	line-height: 44px;
	outline: 0;
	padding: 8px 52px 8px 12px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	width: 100%;
}

.search-result-form .search-result-input {
	font-size: 0.9375em;
}

.search-form .search-module-input:hover,
.search-result-form .search-result-input:hover {
	border-color: #ccc;
}

.search-form .search-module-input:focus,
.search-form .search-result-input:hover {
	border-color: #ccc;
}

.search-form .search-module-button,
.search-result-form .search-result-button {
	background: transparent url("https://blog.st-hatena.com/images/theme/search.png") no-repeat center center;
	border: 0;
	height: 44px;
	line-height: 44px;
	opacity: 0.6;
	overflow: hidden;
	padding: 0;
	text-indent: 100%;
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
	width: 44px;
	white-space: nowrap;
	position: absolute;
	top: 1px;
	right: 1px;
}

.search-form .search-module-button:hover,
.search-result-form .search-result-button:hover {
	opacity: 1;
}

.search-result {
	margin-bottom: 40px;
}

.search-result + p {
	margin-bottom: 36px;
}

.page-archive span.highlight {
	background-color: #fee5ee;
	border: 0;
	border-radius: 0;
	color: #f92672;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

/* グループモジュール */

.hatena-module-circles .circle-urllist {
	margin: -20px 0;
}

.hatena-module-circles .circle-urllist li {
	padding: 20px 0;
}

.hatena-module-circles .circle-urllist li a .circle-image {
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	box-sizing: border-box;
	height: 44px;
	margin-right: 20px;
	padding: 8px;
	width: 44px;
}

/* フッター
   ========================================================================== */

#footer {
	background-color: #222;
	color: rgba(255,255,255,0.9);
	font-size: 0.875em;
	text-align: center;
}

@media screen and (min-width: 1024px) {
	
	#footer {
		text-align: left;
	}
	
}

#footer a:hover {
	color: #fff;
}

#footer address,
#footer p {
	margin: 0;
}

#footer address img {
	display: none;
}

#footer p {
	color: rgba(255,255,255,0.5);
}

/* Colorbox
   ========================================================================== */

#colorbox,
#cboxOverlay,
#cboxWrapper {
	overflow: visible;
}

#cboxOverlay {
	background-color: #000;
	opacity: 0.85 !important;
}

#colorbox #cboxContent,
#colorbox #cboxContent #cboxLoadedContent {
	background-color: transparent;
	overflow: visible !important;
}

.cboxPhoto {
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

/* Advertisement
   ========================================================================== */

.google-afc-image,
.google-afc-text {
	font-family: inherit;
	font-size: inherit;
	margin: 0 0 32px;
}

.page-archive .google-afc-image,
.page-archive .google-afc-text {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 36px;
	padding-bottom: 36px;
}

@media screen and (min-width: 768px) {
	
	.page-archive .google-afc-image,
	.page-archive .google-afc-text {
		margin-bottom: 48px;
		padding-bottom: 48px;
	}
	
}

.google-afc-image div.google_ads_by,
.google-afc-text div.google_ads_by {
	font-size: 13px;
	margin-bottom: 8px;
}

.google-afc-image ul,
.google-afc-text ul {
	margin: 0;
}

.google-afc-image li,
.google-afc-text li {
	margin: 0 !important;
}

.google-afc-image ul .title,
.google-afc-text ul .title {
	font-size: 17px;
	margin-bottom: 8px;
}

.google-afc-image ul .title a,
.google-afc-text ul .title a {
	font-size: 17px !important;
	letter-spacing: normal;
	padding: 0;
}

.google-afc-image ul .summary,
.google-afc-text ul .summary {
	font-size: 13px !important;
	margin: 0 8px 0 0;
}

.google-afc-image ul .visible_url,
.google-afc-text ul .visible_url {
	font-size: 13px;
}

.google-afc-image ul .visible_url a,
.google-afc-text ul .visible_url a {
	font-size: 13px !important;
	letter-spacing: normal;
	padding: 0;
}

.google-afc-image .open-pro-modal,
.google-afc-text .open-pro-modal {
	font-size: 13px;
	padding-top: 16px;
}